* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dino {   
    clip-path: polygon(1% 32%1% 32%, 13% 28%, 13% 28%, 23% 29%, 23% 29%, 33% 28%, 33% 28%, 49% 18%, 49% 21%, 53% 20%, 53% 20%, 64% 16%, 64% 16%, 71% 18%, 71% 18%, 77% 7%, 77% 7%, 82% 4%, 82% 7%, 86% 1%, 86% 1%, 90% 3%, 90% 3%, 96% 3%, 96% 3%, 100% 11%, 100% 11%, 91% 15%, 91% 18%, 95% 28%, 95% 28%, 97% 34%, 97% 34%, 91% 33%, 91% 33%, 84% 30%, 84% 30%, 75% 41%, 75% 41%, 73% 49%, 73% 49%, 79% 52%, 79% 52%, 79% 56%, 79% 56%, 75% 54%, 75% 54%, 71% 50%, 71% 50%, 71% 52%, 71% 52%, 71% 57%, 71% 57%, 66% 52%, 66% 52%, 57% 58%, 57% 58%, 55% 66%, 55% 66%, 52% 73%, 52% 73%, 50% 81%, 50% 81%, 52% 91%, 52% 91%, 58% 95%, 58% 95%, 56% 97%, 56% 97%, 51% 98%, 51% 98%, 47% 97%, 47% 97%, 46% 81%, 46% 81%, 46% 74%, 46% 74%, 41% 85%, 41% 85%, 45% 92%, 45% 92%, 40% 93%, 40% 93%, 38% 94%, 38% 94%, 36% 84%, 36% 84%, 37% 77%, 37% 77%, 40% 68%, 40% 68%, 45% 66%, 45% 66%, 49% 60%, 49% 60%, 44% 55%, 44% 55%, 38% 51%, 38% 51%, 28% 48%, 28% 48%, 16% 42%, 16% 42%, 56% 36%, 56% 36%, 56% 36%, 56% 36%, 56% 36%, 56% 36%);
    clip-path: polygon(0 31%, 13% 28%, 28% 30%, 50% 18%, 62% 14%, 78% 3%, 86% 0%, 90% 2%, 100% 0, 100% 12%, 98% 36%, 91% 35%, 97% 36%, 79% 38%, 73% 47%, 79% 54%, 71% 57%, 60% 56%, 56% 64%, 55% 71%, 52% 76%, 50% 81%, 51% 89%, 55% 92%, 58% 95%, 53% 98%, 50% 97%, 48% 99%, 39% 94%);
    background-color: rgb(0, 0, 0); 
}