body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-wrapper > img {
    width: 30%;
    height: 30%;
    opacity: 0;
}
