.Heading1 {
    width: 350px;
    height: 80px;
    background-color: #069FE1;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 30px;
    position: relative;
    left: 140px;
}
.Text {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 150px;
    font-weight: bold;
    font-size: 20px;
}
.form {
    display:block;
    position: relative;
    top:-70px;
    left: 160px;
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    background-color: #F6F6F6;
    border: 1px transparent;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.Query input[type="text"] 
{   width: 250px;
    height: 50px;
    background-color: white;
    text-align: left;
    color: black;
    border: 1px white;
    border-radius: 30px;
    position: relative;
    top: 30px;
}
.Query input[type="submit"] 
{   width:100px;
    height: 50px;
    background-color:#069FE1;
    border: 1px transparent;
    border-radius: 30px;
    position: relative;
    top: 40px;
    color: #FFF;
}